@model List<AnimeFLV.Models.Categorias>

@{
    ViewBag.Title = "Categorias";
}

<div class="content-title">
    <p> Categorias </p>
</div>

@foreach (var item in Model)
{
    <div class="content">
        <a href="@Url.Action("Series", new { id=item.ID })">
            <img src="~/@item.ImagePath" />
            <div class="background-title"></div>
            <h3 class="title">@item.Name</h3>
        </a>
    </div>
}



