@model List<AnimeFLV.Models.Capitulos>
@{
    ViewBag.Title = "Ver";
}

<h2>Ver</h2>
<div class="container">
    <div class="row product">
        <div class="col-md-13" style="margin: 20px 20px ;">
            <iframe width="760" height="415" frameborder="0" src="@ViewBag.UrlSerie" scrolling="no" allowfullscreen></iframe>
        </div>
    </div>
    <div class="page-header"></div>
    <div class="page-header">
        <h3 style="color: rgb(255,255,255);">Comentarios<button class="btn btn-primary write-review" type="button">Comentar</button></h3>
    </div>
</div>
