body {
    padding-top: 10px;
    padding-bottom: 20px;
    background: url("../Recursos/img/fondo.png");
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.container img:hover {
    transform: scale(1.04);
}

    .content a:hover{
        text-decoration:none;
    }


#navbar {
    margin-top:-10px;
    background-color: #2F353A;
    height: 70px;
}
#emi {
    margin: 5px;
    width: 250px;
    height: 50px;
}
.thumbnail{
    margin-top:15px;
}


